* {
  align-content: center;
  padding: 5px;
}

body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 5px;
}

.results {
  border: 2px black solid;
}

.navbar {
  background: skyblue;
}

.buttonDisplay {
  border: 2px black solid;
}